.stock-change-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock-change-info-container .stock-change-detail {
    width: 95%;
    display: flex;
    border: 1px solid #e6e6e6;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px 0;
}

.stock-change-info-container .stock-change-detail .graph-icon {
    height: 40px;
}

.stock-change-info-container .delete-icon {
    height: 20px;
}