.App {
    display: flex;
    min-height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
    padding: 10px;
}

.App .main-container {
    width: 375px;
    height: 600px;
    border: 1px solid #e6e6e6;
    margin: auto auto;
    border-radius: 10px;
}

@media screen and (max-width: 375px) {
    .App .main-container {
        border: none;
        margin: 0;
    }
}