@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
:root {
    --primaryColor: #5b83c3;
    --black: #333333;
    --grey: #c4c4c4;
    --red: #c0392b;
    --green: #53953b;
}

* {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}